<div class="bg-signup">
  <div class="signup-box">
    <h2>Sign up</h2>
      <div class="us-box">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
          <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :username,
                      required: true %>
          <%= f.input :email,
                      placeholder: 'user@domain.com',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      placeholder: 'needs to match with the password',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :birthdate, as: :date, html5: true,
                      required: true %>
        </div>
          <div class="button-box">
            <div class="form-actions">
              <%# <%= link_to "Log In",  user_session_path, :class=> "btn",  id: "login-btn" %>
              <%# <%= link_to f.button :submit, "Sign Up", :class=> "btn",  id: "login-btn" %>
              <%# <%= link_to "Sign Up", new_user_registration_path, :class=> "btn",  id: "signup-btn" %>
              <%= f.button :submit, "Sign up", class: "btn", id: "login-btn" %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
