<div class="remember-password-box">
  <h2>Forgot your password?</h2>
  <form>
    <div class="user-box">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      placeholder: 'user@domain.com',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <div class="button-box">
          <div class="form-actions">
            <%= link_to "Log In",  user_session_path, :class=> "btn",  id: "login-btn" %>
            <%= link_to "Sign Up", new_user_registration_path, :class=> "btn",  id: "signup-btn" %>
            <%= link_to "Reset my Password", new_user_password_path, :class=> "btn",  id: "reset-password-btn" %>
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
        </div>
      <% end %>

    </div>
  </form>
</div>
