<div class = "searchbar">
<%= render "/shared/search_nav_loc" %>
</div>
<div class="background_nav_loc">
<% if @check_favorite%>
  <%= simple_form_for([@location, @favorite]) do |f| %>
  <%= f.submit do %><i class="fa-regular fa-heart"></i><% end %>
  <% end %>
<% else %>
 <%= link_to location_favorite_path(@location), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-heart fa-2xl"></i>
     <% end %>
<% end %>

 <% if current_user.check_in != nil %>
 <%= link_to "Check Out",
                    location_check_in_path(@location),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, id: "btn-check-out" %>
<% else %>
 <%= simple_form_for([@location, @checkin]) do |f| %>
    <%= f.submit "Check In", :class => "btn-nav-loc"%>
 <% end %>
<% end %>


<button type="button" class="post-btn-nav-loc" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Post
</button>

<div class="modal fade modal-dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@location, @feedback]) do |f| %>
        <h1>One Vibing Photo, please.</h1>
           <%= f.input :photos, as: :file, input_html: { multiple: true }%>
            <h1>One Vibing Video, please.</h1>
           <%= f.input :videos, as: :file, input_html: { multiple: true }%>
            <h1>What do you think about place vibe?</h1>
           <%= f.input :comment, label: "What do you think about place vibe?"%>
            <h1>give a rate for it!</h1>
           <%= f.input :rating, label: "give a rate for it!"%>
           <%= f.submit %>
           <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
