<%= render "shared/searchbar" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="cards">
        <div class="location-cards">
            <% @locations.each do |location| %>
              <%= link_to location_path(location), class: "no-deco" do %>
              <div class="location">
                <h4><%= location.name %></h4>
                <p>Address:<%= location.address %></p>
                <p>Type:<%= location.location_type %></p>
                <p><%= location.photos %></p>
              </div>
            <%end %>
          <%end %>
        </div>
      </div>
    </div>
  </div>
</div>
