<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="locations">
        <% @locations.each do |location| %>
          <h4><%= location.name %></h4>
          <p><%= location.address %></p>
          <p><%= location.location_type %></p>
          <p><%= location.photos %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/searchbar" %>
