
<%= render "shared/navbar_locations" %>
<div class="container-show">

  <div class="cardy card-show">
    <%= link_to location_images_path(@location), class: "no-deco" do %>
    <div class="card-categ" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1578736641330-3155e606cd40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
      PHOTOS
    </div>
    <% end %>

    <%= link_to location_videos_path(@location), class: "no-deco" do %>
    <div class="card-categ" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1563784462386-044fd95e9852?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
      VIDEOS
    </div>
    <% end %>

    <%= link_to location_comments_path(@location), class: "no-deco" do %>
    <div class="card-categ" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
      COMMENTS
    </div>
    <% end %>
  </div>

  <div class="feed-check">

    <div class="feedback-cards">
      <% @location.feedbacks.each do |post| %>

      <div class="card-prod">
        <%= cl_image_tag post.photos[0].key %>
          <div class="box-nickname">
            <h2><%= post.user.username %></h2>
            <div class="card-prod-infos">
              <h3>Comments:</h3>
              <p><%= post.comment %></p>
            </div>
          </div>
        <div class="avatar-show">
          <%= cl_image_tag post.user.photo.key, class:"responsive-img" %>
        </div>
      </div>
    <% end %>
    </div>

    <div class="card-checkin">
      <div>
        <h3>See who’s there</h3>
      </div>
        <div class="row  avatar-checkin">
          <% CheckIn.all.where(location_id: params[:id]).each do |checkin| %>
              <div class="col-4">
              <%= cl_image_tag checkin.user.photo.key %>
            </div>
          <% end %>
      </div>
  </div>
</div>

<%# <div class="container chatroom"> %>
  <%# <h1>#<%= @chatroom.name %>
  <div class="messages">
    <% @chatroom.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.username %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= render "chatrooms/show" %>
</div>
